body {
    color: #777;
}

/* nav */
.navbar-default{
    border-color: #fff;
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    opacity: 0.90;
    box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default
{
   /* border-bottom: solid 1px #777;*/
}

.navbar-default .navbar-nav>li>a:hover{
    color: rgb(174, 211, 88);
}
/* end nav */


#avatars {
	min-width: 100%;
	width: 100%;
	min-height: 420px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#avatars li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#avatars li img {
	border: none;
	margin: 10px 10px 0 0;
}

#upload {
	text-align: left;
}

#footer {
	text-align: center;
}
