<html>
<head>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/profile.css" rel="stylesheet" type="text/css">
	<title>Avatar UPR</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/admin/pending">Administracion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="continer" id="upload">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label for="file">Cambiar mi Avatar</label>
            <input type="file" id="file" name="file" /required>
            <input type="submit" value="enviar">
        </form>
    </div>
</body>

</html>
