<html>
    <title>Avatar UPR</title>
    <body>
        <h1>AvatarUPR</h1>
        <div>
            <form method="POST" action="/login">
                <label for="username">
                    <b>Username</b>
                </label>
                <input type="text" placeholder="Enter username" name="username" required>

                <label for="password">
                    <b>Password</b>
                </label>
                <input type= "password" placeholder= "Enter password" name="password" required>

                <button type="submit">Login</button>
          </form>
        </div>
    </body>
</html>
