<html>
<head>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/profile.css" rel="stylesheet" type="text/css">
	<title>Avatar UPR</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                {{if .IsManager}}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/admin/pending">Pendientes</a>
                    </li>
                    <li>
                        <a href="/admin/approved">Aprobados</a>
                    </li>
                </ul>
                {{end}}
                 <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/logout">Salir</a>
                     </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="avatars">
        <li>
            <img src="{{.ApprovedAvatar}}" width="320" height="320"/>
        </li>
        {{if .HasPendingAvatar}}
            <img src="{{.PendingAvatar}}" width="320" height="320">
        {{end}}
    </div>

    <div class="continer" id="upload">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label for="file">Cambiar Avatar</label>
            <input type="file" id="file" name="file" /required>
            <input type="submit" value="enviar">
        </form>
    </div>
</body>

</html>
